<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hello, this message was sent regarding <%= t('blacklight.application_name') %>.
    </p>
    <p>
      <span>From:</span> 
      <span><%= @name %></span>
    </p>
    <p>
      <span>Email:</span> 
      <span><%= @email %></span>
    </p>
    <p>
      <span>Category:</span> 
      <span><%= @category %></span>
    </p>
    
    <p>
      <span>Subject:</span>
      <span><%= @subject %></span>
    </p>

    <p>
      <span>Message:</span>
      <span><%= @message %></span>
    </p>
  </body>
</html>