@import 'colors';

#footer {
  background: $hokie-maroon;
  border-top: 1px solid $hokie-orange;
  clear: both;
  color: white;
  margin-top: 2em;
  padding: 1em;
  min-height: 4em;

  h5 {
    margin: 15px 0px 0px 15px;
  }

  a {
    color: white;
    text-decoration: underline;
  }
  .row {
    margin-left: auto;
    margin-right: auto;
  }
}