/* VT specific styles */
@import 'colors';

.navbar-inverse {
  background-color: $hokie-maroon;
  border-color: $hokie-orange;
}
#header-navbar .navbar-brand {
  background-image: image-url('vt_overrides/vt_logo.svg');
  background-position: center left;
}
